body {
    width: 175px;
}

.setting {
    color: #000;
    display: none;
    font-family: "Lucida Grande", Arial, sans-serif;
    font-size: 12px;
    margin: 10px 0 10px 0;
}

#enabledDiv {
    display: block;
}

select, input {
    float: right;
    clear: both;
}
